* {
  font-family: "M PLUS 1", sans-serif;
}

body {
  width: 100%;
  background-color: #FFFDFA;
}
@media screen and (min-width: 1025px) {
  body {
    display: grid;
  }
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

h2 {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.spen {
  margin: 0px;
}

.l-footer {
  background-color: #9D8670;
  height: 150px;
  padding: 1.8rem;
}
@media screen and (min-width: 1025px) {
  .l-footer {
    display: grid;
    grid-column: 1/3;
    grid-row: 4/5;
  }
}

.l-header {
  width: 100%;
  height: 217px;
  background-color: #FFF7EF;
  display: block;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .l-header {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.l-main {
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .l-main {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/4;
  }
}

.l-sideber {
  position: fixed;
  background-color: #F2EDE9;
  top: 0;
  right: -100%;
  height: 100%;
  overflow: scroll;
  z-index: 1000;
  width: 87%;
}
.l-sideber.open {
  right: 0%;
}
@media screen and (min-width: 1025px) {
  .l-sideber {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/4;
    right: 0;
    position: static;
    grid-template-rows: 367px;
  }
}

.c-title {
  color: #707070;
}
.c-title__sub {
  font-size: 41px;
  margin: 12px auto auto 13px;
}
.c-title__in {
  font-size: 22px;
  margin: 0.5rem;
  color: #3C2A10;
}
.c-title__map {
  font-size: 30px;
  margin: 40px auto auto 42px;
}

.c-button--menu {
  color: #707070;
  font-family: "Roboto", sans-serif;
}
.c-button--submit {
  height: 46px;
  width: 78px;
  border-radius: 10px;
  border: solid 0.1px;
  background-color: #F2EDE9;
  margin-left: 6px;
}
.c-button__close {
  position: absolute;
  top: 10px;
  left: 10px;
}

.c-grid {
  display: grid;
}

.c-position {
  position: relative;
  top: 4.2rem;
}

.c-line {
  width: 33.89px;
  height: 4px;
  background-color: #FFF7EF;
  display: block;
}
.c-line__access {
  width: 75px;
  height: 3px;
  background-color: #FFF7EF;
  display: block;
  position: relative;
  left: 2.8rem;
  top: 2em;
}
.c-line--footer {
  width: 0.1rem;
  height: 1.2rem;
  display: block;
  background-color: #fff;
  margin: 0.5rem;
}
.c-line__menu {
  width: 32px;
  height: 4px;
  background-color: #707070;
}

.c-map__strong {
  background: rgba(0, 0, 0, 0.4);
  height: 60%;
  position: absolute;
}
.c-map__light {
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  position: relative;
}

.c-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
.c-cover.active {
  z-index: 900;
  background-color: rgba(15, 14, 14, 0.5);
}

.p-head {
  text-align: center;
}
.p-head__title {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  padding: 10px 0 38px 0;
  text-align: center;
}
.p-head__menu {
  position: absolute;
  font-size: 20px;
  top: 14px;
  right: 16px;
}

.p-serach {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.p-serach__box {
  border: 0.1px solid #000;
  border-radius: 10px;
  height: 46px;
  width: 230px;
  margin-right: 6px;
}

.p-front__title {
  font-size: 36px;
  padding: 120px 134px 115px 24px;
}

.p-front--main {
  background-image: url(/img/mainvisual-sp@2x.jpg);
  background-size: cover;
  height: 285px;
}
@media screen and (min-width: 700px) {
  .p-front--main {
    background-image: url(/img/mainvisual-tab.png);
    background-size: cover;
  }
}
@media screen and (min-width: 1025px) {
  .p-front--main {
    background-image: url(../img/mainvisual-pc.jpg);
    background-position: center center;
    height: 530px;
  }
}

.p-sidemenu__main {
  color: #808080;
  font-size: 24px;
  font-weight: 700;
}
.p-sidemenu__sub {
  color: #707070;
  font-size: 20px;
  font-weight: lighter;
}

.p-nav {
  margin-top: 217px;
}

.p-branch {
  grid-template-rows: 1fr 1fr;
  margin: 20px 20px;
  gap: 20px;
}
@media screen and (min-width: 700px) {
  .p-branch {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
}
@media screen and (min-width: 1025px) {
  .p-branch {
    gap: 80px;
    margin: 80px 80px;
  }
}
.p-branch--menu {
  display: grid;
  height: 643px;
  width: 335px;
}
@media screen and (min-width: 700px) {
  .p-branch--menu {
    height: 681px;
    width: 356px;
  }
}
.p-branch--menu__box {
  background: rgba(255, 255, 255, 0.8);
  height: 163px;
  margin: 0.6rem;
}
.p-branch--menu__line {
  position: relative;
  left: 13px;
  bottom: 3.6rem;
}
.p-branch__sub {
  font-size: 16px;
  padding: 0.5rem;
}

.p-container__take-out {
  background-image: url(../img/top-menu/three-burgers-on.png);
  flex-direction: column;
  background-size: cover;
  width: 100%;
}
.p-container__eat-in {
  background-image: url(../../../img/top-menu/burger-side.png);
  flex-direction: column;
  background-size: cover;
  width: 100%;
}

.p-access {
  background-image: url(/img/map/br-map.png);
  background-size: cover;
  height: 691px;
  margin-top: 3rem;
}
.p-access__text {
  text-align: center;
}

.p-footer {
  display: flex;
  color: #FFFFFF;
  font-size: 20px;
  justify-content: center;
  margin-top: 0%;
  padding: 0 1.3rem;
}
.p-footer__shop {
  color: #FFFFFF;
}
.p-footer__cp {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: regular;
  text-align: center;
}

/*Foundation*/
/*component*/
/*project*/
/*utility*/
/*# sourceMappingURL=style.css.map */