* {
  font-family: "M PLUS 1", sans-serif;
}

body {
  width: 100%;
  background-color: #FFFDFA;
  min-width: 300px;
}
@media screen and (min-width: 1162px) {
  body {
    display: grid;
  }
}

a {
  text-decoration: none;
  color: #707070;
  height: 100%;
}

ul li {
  list-style-type: none;
}

h1 {
  color: #fff;
}

h2 {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.spen {
  margin: 0px;
}

.l-footer {
  background-color: #9D8670;
  height: 150px;
  padding: 1.8rem;
}
@media screen and (min-width: 1162px) {
  .l-footer {
    display: grid;
    grid-column: 1/5;
    grid-row: 4/5;
  }
}

.l-header {
  width: 100%;
  height: 217px;
  background-color: #FFF7EF;
  display: block;
  position: relative;
}
@media screen and (min-width: 1162px) {
  .l-header {
    display: flex;
    justify-content: space-between;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.l-main {
  width: 100%;
}
@media screen and (min-width: 1162px) {
  .l-main {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/4;
  }
}

.l-sideber {
  position: fixed;
  background-color: #F2EDE9;
  top: 0;
  right: -100%;
  height: 100%;
  overflow: scroll;
  z-index: 1000;
  width: 87%;
  transition: all 0.6s;
  padding-right: 60px;
}
@media screen and (min-width: 1162px) {
  .l-sideber {
    overflow: hidden;
  }
}
.l-sideber.open {
  right: 0%;
  transition: all 0.6s;
}
@media screen and (min-width: 700px) {
  .l-sideber.open {
    width: 44%;
  }
}
@media screen and (min-width: 1162px) {
  .l-sideber.open {
    display: none;
  }
}
@media screen and (min-width: 1162px) {
  .l-sideber {
    display: grid;
    grid-column: 2/5;
    grid-row: 1/4;
    right: 0;
    position: static;
    grid-template-rows: 367px;
    width: 100%;
  }
}

.c-title {
  color: #707070;
  cursor: pointer;
}
.c-title__sub {
  font-size: 41px;
  margin: 12px auto auto 13px;
}
.c-title__in {
  font-size: 22px;
  margin: 0.5rem;
  color: #3C2A10;
}
.c-title__map {
  font-size: 30px;
  margin: 40px auto auto 42px;
  z-index: 200;
}
.c-title__archive {
  font-size: 28px;
}
.c-title__card {
  font-size: 20px;
  color: #FFFFFF;
}
.c-title__shingle {
  color: #3C2A10;
  font-weight: bold;
}

.c-button--menu {
  color: #707070;
  font-family: "Roboto", sans-serif;
  position: absolute;
  cursor: pointer;
}
@media screen and (min-width: 1162px) {
  .c-button--menu {
    font-size: 34px;
    top: 82px;
    padding: 40px;
  }
}
.c-button--submit {
  height: 46px;
  width: 78px;
  border-radius: 10px;
  border: solid 0.1px;
  background-color: #F2EDE9;
  margin-left: 6px;
  cursor: pointer;
}
.c-button__close {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 5px;
  right: 7px;
  border: none;
}
.c-button__card {
  width: 163.16px;
  height: 42.47px;
  border: solid;
  border-radius: 20px;
  background-color: #fff;
  color: #707070;
  padding: 10px 40px;
  margin: 40px auto;
}

.c-grid {
  display: grid;
}

.c-position {
  position: relative;
  top: 4.2rem;
}

.c-line {
  width: 33.89px;
  height: 4px;
  background-color: #FFF7EF;
  display: block;
}
.c-line__access {
  width: 75px;
  height: 3px;
  background-color: #FFF7EF;
  display: block;
  position: relative;
  left: 2.8rem;
  top: 1.2rem;
  z-index: 200;
}
.c-line--footer {
  width: 0.1rem;
  height: 1.2rem;
  display: block;
  background-color: #fff;
  margin: 0.5rem;
}
.c-line__menu1 {
  width: 32px;
  height: 4px;
  background-color: #707070;
  display: block;
  position: absolute;
  top: 25px;
  right: 17px;
}
.c-line__menu1.open {
  transform: rotate(-45deg);
  transition: all 0.5;
}
.c-line__menu2 {
  width: 32px;
  height: 4px;
  background-color: #707070;
  display: block;
  position: absolute;
  top: 25px;
  right: 17px;
}
.c-line__menu2.open {
  transform: rotate(45deg);
  transition: all 0.5s;
}

.c-map__strong {
  background: rgba(0, 0, 0, 0.4);
  height: 60%;
  width: 100%;
  z-index: 100;
  position: absolute;
}
@media screen and (min-width: 700px) {
  .c-map__strong {
    height: 100%;
  }
}
@media screen and (min-width: 1162px) {
  .c-map__strong {
    width: 61%;
    height: 100%;
  }
}
.c-map__light {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
}

.c-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
.c-cover.active {
  z-index: 900;
  background-color: rgba(15, 14, 14, 0.5);
}
.c-cover--front {
  width: 100%;
  height: 100%;
  background-color: rgba(27, 25, 25, 0.3);
}

.c-close__menu {
  display: none;
}
@media screen and (min-width: 1162px) {
  .c-close__menu {
    display: inline-block;
  }
}
.c-close__bt {
  display: inline-block;
}
@media screen and (min-width: 1162px) {
  .c-close__bt {
    display: none;
  }
}

.c-icon {
  background-image: url(../img/icon/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 5px;
}

.c-padding__bottom {
  padding-bottom: 10rem;
}

.c-text {
  font-size: 16px;
  font-weight: regular;
}
.c-text--main {
  font-size: 16px;
  font-weight: regular;
  text-align: center;
  padding: 30px 0 10px 0;
}
.c-text--single {
  font-size: 16px;
  padding: 30px 0 10px 0;
}

.c-card {
  margin: 20px 20px;
  gap: 20px;
}
@media screen and (min-width: 700px) {
  .c-card {
    justify-content: center;
    gap: 40px;
  }
}
@media screen and (min-width: 1162px) {
  .c-card {
    gap: 80px;
    margin: 80px 80px;
  }
}
.c-card__text {
  color: #FFF;
  font-size: 16px;
}
.c-card__box {
  margin: 20px 20px;
  gap: 20px;
}
@media screen and (min-width: 700px) {
  .c-card__box {
    display: flex;
    gap: 0px;
  }
}
.c-card__single {
  display: flex;
  align-items: flex-start;
  margin: 30px 20px;
  gap: 10px;
}

.c-single {
  font-size: 28px;
}
@media screen and (min-width: 700px) {
  .c-single {
    font-size: 28px;
  }
}
.c-single h3 {
  font-size: 24px;
}
@media screen and (min-width: 700px) {
  .c-single h3 {
    font-size: 28px;
  }
}
.c-single h4, .c-single h5, .c-single h6 {
  font-size: 20px;
}

.c-margin {
  margin-top: 30px;
}
.c-margin--bottom {
  margin-bottom: 30px;
}
.c-margin--bottom20 {
  margin-bottom: 20px;
}

.p-head {
  text-align: center;
}
.p-head__title {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  padding: 10px 0 38px 0;
  text-align: center;
}
@media screen and (min-width: 1162px) {
  .p-head__title {
    margin: 67px auto auto 65px;
    font-size: 64px;
  }
}
.p-head__menu {
  position: absolute;
  font-size: 20px;
  top: 14px;
  right: 16px;
}
@media screen and (min-width: 1162px) {
  .p-head__menu {
    display: none;
  }
}

.p-serach {
  display: block;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 1162px) {
  .p-serach {
    margin: 96px 31px auto 0;
    display: flex;
  }
}
.p-serach__box {
  border: 0.1px solid #000;
  border-radius: 10px;
  height: 46px;
  width: 230px;
  margin-right: 6px;
}
@media screen and (min-width: 1162px) {
  .p-serach__box {
    height: 46px;
    width: 396px;
  }
}

.p-front__title {
  font-size: 36px;
  padding: 120px 134px 115px 24px;
}
@media screen and (min-width: 700px) {
  .p-front__title {
    display: flex;
    font-size: 60px;
    font-family: "Roboto", sans-serif;
  }
}
.p-front__sub {
  font-size: 16px;
}
@media screen and (min-width: 700px) {
  .p-front__sub {
    padding-top: 35px;
    padding-left: 20px;
  }
}
.p-front--top {
  font-size: 36px;
  padding: 0 0 0 26px;
}
.p-front--main {
  background-image: url(/img/mainvisual-sp@2x.jpg);
  background-size: cover;
  height: 285px;
}
@media screen and (min-width: 700px) {
  .p-front--main {
    background-image: url(/img/mainvisual-tab.png);
    background-size: cover;
  }
}
@media screen and (min-width: 1162px) {
  .p-front--main {
    background-image: url(../img/mainvisual-pc.jpg);
    background-position: center center;
    height: 530px;
  }
}
.p-front--menu {
  background-image: url(/img/page-title/page-title_arcive@2x.jpg);
  background-size: cover;
  height: 285px;
}
@media screen and (min-width: 700px) {
  .p-front--menu {
    background-size: cover;
  }
}
@media screen and (min-width: 1162px) {
  .p-front--menu {
    background-position: center center;
    height: 530px;
  }
}
.p-front--single {
  background-image: url(/img/main/single-br.svg);
  background-size: cover;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 700px) {
  .p-front--single {
    background-position: center center;
    height: 500px;
  }
}
@media screen and (min-width: 1162px) {
  .p-front--single {
    background-position: center center;
  }
}

.p-sidemenu__main {
  color: #808080;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
  cursor: pointer;
}
.p-sidemenu__sub {
  color: #707070;
  font-size: 20px;
  margin-bottom: 23px;
  cursor: pointer;
}

.p-nav {
  margin-top: 217px;
}

.p-branch {
  grid-template-rows: 1fr 1fr;
  margin: 20px 20px;
  gap: 20px;
}
@media screen and (min-width: 700px) {
  .p-branch {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
}
@media screen and (min-width: 1162px) {
  .p-branch {
    gap: 80px;
    margin: 80px 80px;
  }
}
.p-branch--menu {
  display: grid;
  min-height: 643px;
  width: 335px;
}
@media screen and (min-width: 700px) {
  .p-branch--menu {
    min-height: 681px;
    width: 356px;
  }
}
.p-branch--menu__box {
  background: rgba(255, 255, 255, 0.8);
  min-height: 124px;
  margin: 0.6rem;
}
@media screen and (min-width: 700px) {
  .p-branch--menu__box {
    min-height: 138px;
  }
}
@media screen and (min-width: 1162px) {
  .p-branch--menu__box {
    min-height: 166px;
  }
}
.p-branch--menu__line {
  position: relative;
  left: 13px;
  bottom: 3.6rem;
}
.p-branch__sub {
  font-size: 16px;
  padding: 0.5rem;
}

.p-container__take-out {
  background-image: url(../img/top-menu/three-burgers-on.png);
  flex-direction: column;
  background-size: cover;
  width: 100%;
}
.p-container__eat-in {
  background-image: url(../../../img/top-menu/burger-side.png);
  flex-direction: column;
  background-size: cover;
  width: 100%;
}

.p-access {
  background-image: url(../img/map/br-map.png);
  background-size: cover;
  min-height: 691px;
  margin-top: 3rem;
  z-index: 1;
  position: relative;
}
@media screen and (min-width: 700px) {
  .p-access {
    min-height: 415px;
  }
}
@media screen and (min-width: 1162px) {
  .p-access {
    min-height: 649px;
  }
}
.p-access__text {
  text-align: center;
  color: #FFF;
  padding: 35px;
  line-height: 2.5rem;
  font-size: 14px;
  flex-wrap: wrap;
  z-index: 200;
}
@media screen and (min-width: 1162px) {
  .p-access__text {
    font-size: 16px;
    width: 61%;
  }
}

.p-footer {
  display: flex;
  color: #FFFFFF;
  font-size: 20px;
  justify-content: center;
  margin-top: 0%;
  padding: 0 1.3rem;
}
.p-footer__shop {
  color: #FFFFFF;
}
.p-footer__cp {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: regular;
  text-align: center;
}

.p-card {
  background-color: #3C2B1C;
  padding-top: 32px;
  padding-left: 17px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 700px) {
  .p-card {
    display: grid;
    grid-column: 4/5;
  }
}
.p-card__img {
  width: 100%;
}
@media screen and (min-width: 700px) {
  .p-card__img {
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
    width: 50%;
  }
}
.p-card__title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 24px;
}
.p-card__sub-title {
  font-weight: bold;
  padding-bottom: 10px;
}
.p-card__text {
  font-weight: lighter;
  padding-right: 73px;
}

.p-pagination {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 700px) {
  .p-pagination {
    justify-content: center;
    align-items: center;
  }
}
.p-pagination__page {
  display: none;
}
@media screen and (min-width: 700px) {
  .p-pagination__page {
    display: flex;
    white-space: nowrap;
    padding-right: 10px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
}
@media screen and (min-width: 1162px) {
  .p-pagination__page {
    padding-right: 20px;
  }
}
.p-pagination__text {
  color: #707070;
  font-size: 16px;
  font-weight: regular;
}
@media screen and (min-width: 700px) {
  .p-pagination__text {
    display: none;
  }
}
.p-pagination__next {
  padding: 40.4px 45px 31px 45px;
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 700px) {
  .p-pagination__next {
    padding: 0;
  }
}
@media screen and (min-width: 1162px) {
  .p-pagination__next {
    height: 30%;
  }
}
.p-pagination__back {
  padding: 40.4px 45px 31px 45px;
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 700px) {
  .p-pagination__back {
    padding: 0;
  }
}
@media screen and (min-width: 1162px) {
  .p-pagination__back {
    height: 30%;
  }
}
.p-pagination__list {
  display: none;
}
@media screen and (min-width: 700px) {
  .p-pagination__list {
    display: flex;
    padding: 0px;
  }
}
.p-pagination__list-box {
  border: 0.7px solid;
  height: 35px;
  width: 35px;
  margin: 12px;
  display: inline-block;
  text-align: center;
}
.p-pagination__list-box :hover {
  background-color: #3C2B1C;
  color: #fff;
}
.p-pagination__list-box a {
  display: inline-block;
  padding: 6px;
  width: 100%;
}

.p-quotation {
  padding: 30px 20px;
  background-color: #F5F5F5;
}
.p-quotation__text {
  color: #3C2A10;
}

.p-figure {
  padding: 0 30px 30px;
}
.p-figure__img {
  width: 50%;
}
.p-figure__text {
  width: 45%;
}
.p-figure__list {
  width: 100%;
  gap: 20px;
}

.p-list ol :nth-of-type(2) {
  margin: 0 0 0 18px;
}

/*Foundation*/
/*component*/
/*project*/
/*utility*/
/*# sourceMappingURL=style.css.map */