@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.c-button{

    


    &--menu {
            color: #707070;
            font-family :v.$roboto;
            position: absolute;
            cursor:pointer;

        @include m.mq(pc){

            font-size: 34px;
            top: 82px;
            padding: 40px;
        }



    }

    &--submit {
                height: 46px;
                width: 78px;
                border-radius: 10px;
                border: solid 0.1px;
                background-color: #F2EDE9;
                margin-left: 6px;
                cursor:pointer;
            }    
    
    // &__open {

    // }        




            

    &__close {
            position: absolute;
            width: 50px;
            height: 50px;
            top:5px;
            right: 7px;
            border: none;
            }




}

