@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.c-button{

    


    &--menu {
            color: #707070;
            font-family :v.$roboto;
    }

    &--submit {
                height: 46px;
                width: 78px;
                border-radius: 10px;
                border: solid 0.1px;
                background-color: #F2EDE9;
                margin-left: 6px;
            }    
            
            

    &__close {
            position: absolute;
            top:10px;
            left: 10px;

            }




}

