@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.c-container {

    &__take-out {
        display: flex;
        background-image: url(../img/top-menu/three-burgers-on.png);
    }


    &__eat-in {
         display: flex;  
         background-image: url(../../../img/top-menu/burger-side.png);

         
    }
}