@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;


.c-line {
    width: 33.89px;
    height: 4px;
    background-color: v.$back-color;
    display: block;

    &__access {
        width: 75px;
        height: 3px;
        background-color: v.$back-color;
        display: block;
        position: relative;
        left: 2.8rem;
        top:1.2rem;
    }

    &--footer {
        width: 0.1rem;
        height: 1.2rem;
        display: block;
        background-color: #fff;
        margin: 0.5rem;
    }

    &__menu1 {
        width: 32px;
        height: 4px;
        background-color: #707070;
        display: block;
        transform: rotate(-45deg);
        position: absolute;
        top:25px;
        right: 17px;
        

    }

    &__menu2 {
        width: 32px;
        height: 4px;
        background-color: #707070;
        display: block;
        transform: rotate(45deg);
        position: absolute;
        top:25px;
        right: 17px;
        

    }

}