@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;


.c-line {
    width: 33.89px;
    height: 4px;
    background-color: v.$back-color;
    display: block;

    &__access {
        width: 75px;
        height: 3px;
        background-color: v.$back-color;
        display: block;
        position: relative;
        left: 2.8rem;
        top:2em;
    }
}