@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;


.c-map {
    background-image: url(/img/map/br-map.png);
    background-size: cover;
    height: 691px;
    // width: 375px;
    margin-top: 3rem;
    

    &__strong {
        background: rgba(0,0,0,0.7);
        height: 1rem;
    }

    &__light {
        background: rgba(0,0,0,0.1);
        height: 3rem;
    }
}