@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;


.c-map {
    

    &__strong {
        background: rgba(0,0,0,0.4);
        height: 60%;
        // z-index: 5;
    }

    &__light {
        background: rgba(0,0,0,0.3);
        height: 100%;
        // z-index: 1;
    }
}