@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;



.c-margin {
    
        margin-top: 30px;

        @include m.mq(tab){
            margin-top: 60px;
        }

    &--bottom {
        margin-bottom: 30px;

        @include m.mq(tab){
        margin-bottom: 50px;
        }
}
    &--bottom20 {
        margin-bottom: 20px;
    }


}