@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;


.c-single {
    font-size: 28px; 
    @include m.mq(tab){
        font-size: 36px;
    }

    h3{
        font-size: 24px;
        @include m.mq(tab){
            font-size: 28px;
        }
        
    }
    h4,h5,h6 {
        font-size: 20px;
        font-weight: bold;
    }
}
