@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;


.c-title {
    color: #707070;
}

.c-title__sub{
    font-size: 41px;
    margin: 12px auto auto 13px;
}