@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;


.c-title {
    color: #707070;
    cursor:pointer;

    &__sub {
        font-size: 41px;
        margin: 12px auto auto 13px;
}


    &__in {
        font-size: 22px;
        margin: 0.5rem;
        color: #3C2A10;
    }



    &__map {
        font-size: 30px;
        margin: 40px auto auto 42px;
        z-index: 200;
    }

    &__archive {
        font-size: 28px;
    }

    &__card {
        font-size: 20px;
        color: v.$hw;
    }
    &__single {
        color: #3C2A10;
        font-weight: bold;
    }

}