@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;


.c-title {
    color: #707070;
    text-align: center;
    margin: 0 auto;
//     @include m.sp{
        
//     }
//     &__menu{
//         color: #707070;
//         width: 51px;
//         height: 21px;
//     }

}

