@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;


.p-access {

    background-image: url(/img/map/br-map.png);
    background-size: cover;
    height: 691px;
    // width: 375px;
    margin-top: 3rem;
    

    &__text {
        text-align: center;
        color: #FFF;
        margin: 45px 21px;
        line-height: 2.5rem;
        overflow: hidden;
        height: 100%;
        font-size: 14px;

        @include m.mq(pc){
            font-size: 16px;
        }
    }
}