@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;


.p-branch {
    grid-template-rows: 1fr 1fr;
    margin: 20px 20px;
    gap: 20px;
    height: 1200px;

}