@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-container {

    &__take-out {
        // display: flex;
        background-image: url(../img/top-menu/three-burgers-on.png);
        flex-direction: column;
        background-size: cover;
        // width: 335px;
        // height: 642px;
    }



    &__eat-in {
        // display: flex;  
        background-image: url(../../../img/top-menu/burger-side.png);
        flex-direction: column;
        background-size: cover;
        // width: 336px;
        // height: 643px;
    }
}