@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-container {

    padding: 20px 20px 0 20px;
    @include m.mq(tab){
        padding: 60px 60px 0 60px;
    }

    &__take-out {
        // display: flex;
        background-image: url(../img/top-menu/three-burgers-on.png);
        flex-direction: column;
        background-size: cover;
        width: 100%;
        // height: 642px;
    }



    &__eat-in {
        // display: flex;  
        background-image: url(../../../img/top-menu/burger-side.png);
        flex-direction: column;
        background-size: cover;
        width: 100%;
        // height: 643px;
    }

    &--single {
        padding-bottom: 177px;
        @include m.mq(tab){
            padding-bottom: 228px;
        }
    }
}