@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;



.p-figure {
        padding: 0 30px 30px;
    &__img {
        width: 50%;
    }
    &__text {
        width: 45%;
    }
    &__list {
        width: 100%;
        gap: 20px;
    }

}