@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;


.p-front {
    // text-align: center;

    &__title{
        font-size: 36px;
        padding: 120px 134px 115px 24px;

    }

    

}

.p-front--main {
   background-image: url(/img/mainvisual-sp@2x.jpg);
   background-size: cover;
   height: 285px;

   @include m.mq(tab) {
       background-image: url(/img/mainvisual-tab.png);
       background-size: cover;
    
   }

   @include m.mq(pc) {
       background-image: url(../img/mainvisual-pc.jpg);
       background-position: center center;
       height: 530px;
   }

}
