@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;



.p-head {
    text-align: center;

    &__title {
        // color: #707070;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        padding: 10px 0 38px 0;
        // margin: 0 auto;
        text-align: center;

        
    }

    &__menu {
        // text-align: right;
        position: absolute;
        font-size: 20px;
        // margin-right: 0.8rem;
        top: 14px;
        right: 16px;
    }
    
}