@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;



.p-pagination {
    display: flex;
    justify-content: space-between;

        @include m.mq (tab){
            justify-content: center;
        }

    &__page{
        display: none;
        @include m.mq (tab){
            display: flex;
            position: relative;
            top: 31px;
            left: 70px;
            white-space: nowrap;
            }
        }
        
        

    &__text {
        color: v.$main;
        font-size: 16px;
        font-weight: regular;

        @include m.mq (tab){
            display: none;
        }
            
    }

    &__next{
        padding: 40.4px 45px 31px 45px;
        display: flex;
        gap: 10px;
        @include m.mq (tab){
            position: relative;
            bottom: 10px;
            right: 35px;
        }
    }
    
    &__back{
        padding: 40.4px 45px 31px 45px;
        display: flex;
        gap:10px;
        @include m.mq (tab){
            position: relative;
            bottom: 10px;
            left: 35px;
        }
    }

    &__list {
        display: none;


        @include m.mq(tab){
            display: flex;
            padding: 0px;

        }
    }

    &__list-box {
            border: .7px solid;
            height: 35px;
            width: 35px;
            padding: 6px;
            margin: 12px;
            display: inline-block;
            text-align: center;

            a {
                display: block;
                height: 35px;
                width: 35px;
                padding-right: 12px;
            }

    }

    }

