@charset "UTF-8";


.p-serach {
    display: block;
    margin: 0 auto;
    text-align: center;
    

    &__box {
        border: 0.1px solid  #000;
        border-radius: 10px;
        height: 46px;
        width: 230px;
    }

   
}
