@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-sidemenu {
        // background-color: #F2EDE9;
    &__main {
        color: #808080;
        font-size: 24px;
        font-weight: 700;
    }

    &__sub {
        color: #707070;
        font-size: 20px;
        font-weight: 200;
    }

}